/**
 * Reset some basic elements
 */

html {
    width: 100%;
    text-align: center;
}

body {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;

    font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial;
    font-weight: 400;
    font-size: calc(14px + 0.15vw + 0.15vh);
    line-height: 1.4;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    min-width: 39ch;
    max-width: 78ch;

    margin: 0 auto;
}

header {
    margin: 2em;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    color:black;
    font-size: calc(3*(14px + 0.15vw + 0.15vh));
    font-weigth: bold;
}

article {
    text-align: justify;
}

article h1 {
    font-size: calc(1.5*(14px + 0.15vw + 0.15vh));
}

article h2 {
    font-size: calc(1.25*(14px + 0.15vw + 0.15vh));
}

article .postlink {
    text-align: right;
    text-decoration: none;
}

footer {
    display: block;
    clear: both;
    height: 1em;
}

footer a {
    text-decoration: none;
    margin: 1em;
}

footer svg {
    height: 1em;
}
